<a href="https://colab.research.google.com/github/Dwslr/simulative_colab_python/blob/main/%D0%A0%D0%B5%D0%BA%D1%83%D1%80%D1%81%D0%B8%D1%8F%2C%20%D0%A4%D0%B0%D0%BA%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB%2C%20%D0%A4%D0%B8%D0%B1%D0%BE%D0%BD%D0%B0%D1%87%D1%87%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Рекурсия

## Факториал

In [ ]:
def factorial(n):
  res = 1
  for i in range(1, n+1):
    res *= i
  return res

In [ ]:
factorial(30)

265252859812191058636308480000000

In [ ]:
5! = 4!*5
n! = (n-1)!*n

In [ ]:
def factorial2(n):
  if n == 1:
    return 1
  return factorial2(n-1) * n

In [ ]:
factorial2(5)

120

## Числа Фибоначчи

In [ ]:
def fib(n):
  if n == 1:
    return 0
  if n == 2:
    return 1
  a, b = 0, 1
  cnt = 2

  while cnt <= n:
    a, b = b, a+b
    cnt += 1

  return a

In [ ]:
for i in range(1, 10):
  print(fib(i))

0
1
1
2
3
5
8
13
21

In [ ]:
fib(n) = fib(n-1) + fib(n-2)

In [ ]:
def fib2(n):
  if n == 1:
    return 0
  if n == 2:
    return 1
  return fib2(n-1) + fib2(n-2)

In [ ]:
for i in range(1, 10):
  print(fib2(i))

0
1
1
2
3
5
8
13
21